<configuration>

    <!-- Формат логов: время, поток, уровень, класс, сообщение -->
    <property name="LOG_PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

    <!-- Консольный аппендер -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Логгирование страниц и тестов -->
    <logger name="org.examples.pages" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.examples.tests" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Root logger для всего остального -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
